@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=block');

@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
	--font-sans: 'Public Sans', sans-serif;
}

:root {
	--font-weight-medium: 500;

	--font-size-label: 14px;

	/* --color-surface: oklch(97% 0 0); */
	--color-surface: white;
}

html,
body {
	background-color: var(--ui-bg);
}
