@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=block');

@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
	--font-sans: 'Public Sans', sans-serif;
}

:root {
	--font-weight-medium: 500;
	--font-size-label: 14px;

	--color-surface: white;
}

html:not(.dark),
html:not(.dark) body {
	background-color: var(--ui-bg-muted);
}
